{{!-- Base Layout --}}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      {{#if title}}
        {{title}}
      {{else}}
        {{#if prefix}}{{prefix}} | {{/if}}D3(T)Scriptive
      {{/if}}
    </title>
  </head>
  <body>
    {{> partials/header}}

      {{#> main}}
        {{!-- Main section goes here --}}
      {{/main}}

    {{> partials/footer}}
  </body>
</html>