{{!-- Demo Page Layout --}}

{{#> layouts/base}}
  {{#*inline "main"}}

    <main class="container demo">
      {{#> content prefix}}
        {{!-- Content goes here --}}
      {{/content}}
    </main>

  {{/inline}}
{{/layouts/base}}
