// SCSS for Demos Site
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$header-height: 56px;
$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: $header-height;
  margin-bottom: $footer-height;
}

footer.sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;

  .container {
    text-align: center;
  }
}

main.demo {
  margin-top: 1rem;

  .display-4 {
    margin-bottom: 2rem;
  }
}

@include media-breakpoint-down(sm) {
  .display-2 {
    font-size: 3rem;
  }
  
  .display-4 {
    font-size: 2.5rem
  }

  h2 {
    font-size: 1.5rem;
  }
}

.demo-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  padding: 1rem 0;
}
