{{!-- Grid Demo --}}

{{#> layouts/demo prefix="Grid Demo"}}
  {{#*inline "content"}}
    
    <div class="row">
      <div class="col-12">
        <h1 class="display-4">Grid Demo</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>Horizontal and Vertical Grids</h2>
        <p>Demonstrates available settings</p>

        <div class="demo-container">
          <style>
            .grid-1d svg:not(:first-child) {
              margin-left: 2rem;
            }
          </style>
          <div class="grid-1d"></div>
        </div>

        <form id="grid1dH">
          <div class="form-group row text-right">
            <label for="grid1dH-offsetStart" class="col-2 col-form-label">.offsetStart</label>
            <div class="col-2">
              <input type="text" class="form-control" id="grid1dH-offsetStart" autocomplete="off">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2 offset-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="gridH1d-transition">
                <label class="custom-control-label" for="gridH1d-transition">Transition</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2 offset-2">
              <button type="submit" class="btn btn-primary" id="submit">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>2D Grid</h2>

        <div class="demo-container">
          <div class="grid-2d"></div>
        </div>
      </div>
    </div>

  {{/inline}}
{{/layouts/demo}}
